<% content_for :title do %>
  <h1 class="title">Inscription</h1>
<% end %>

<div class="content-padded-with-footer">
  <p>Veuillez vous inscrire pour accéder aux fonctionnalités. L'inscription est accessible exclusivement aux membres du club.</p>

  <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label :first_name, "Prénom" %>
    <%= f.text_field :first_name %>
    
    <%= f.label :last_name, "Nom" %>
    <%= f.text_field :last_name %>

    <%= f.label :email, "Email" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.label :experience, "Niveau de jeu" %>
    <%= f.select :experience, User.experiences.keys %>

    <%= f.label :password, "Choisissez un mot de passe" %>
    <% if @minimum_password_length %>
      <br><em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
    
    <%= f.label :password_confirmation, "Confirmer le mot de passe" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <%= f.label :code_club, "Renseignez le code club" %>
    <%= f.text_field :code_club %>

  <% end %>
</div>

<div class="bar bar-standard bar-footer-secondary">
  <%= button_tag type: :submit, :form => "new_user", class: "btn btn-primary btn-block" do %>
    <span class="icon icon-check"></span>
    Créer mon compte
  <% end %>
</div>
