<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @receiver.first_name %> !</h1>
    <p>
      Tu as reçu une nouvelle invitation de parties de tennis de la part de <%= @sender.first_name %> <%= @sender.last_name %> :</p>
      <p><%= @content %>
    </p>
    <p>
    Tu peux lui répondre directement à l'adresse mail : <%= @sender.email %>.
    </p>
    <p>Pour accéder à ton espace client, connecte-toi via : <%= @url %>. À très vite sur tennis-partner.fr !
  </body>
</html>