<% content_for :title do %>
  <h1 class="title">Mes conversations</h1>
<% end %>

<ul class="table-view">
  <% @chatrooms.each do |chatroom| %>
    <li class="table-view-cell">
      <p>
        <%= link_to user_path(chatroom.other_user(current_user)), class: "btn" do %>
          <span class="icon icon-person"></span>
          <%= chatroom.other_user(current_user).first_name %> <%= chatroom.other_user(current_user).last_name %><br>
        <% end %>
        <%= link_to 'Ouvrir la conversation', chatroom_path(current_user.common_chatroom_id_with(chatroom.other_user(current_user))), class: "btn btn-outlined" %>
        <br><small>Dernier échange le :<%= chatroom.created_at.strftime('%m/%d/%Y %I:%M %p') %></small>
      </p>
    </li>
  <% end %>
</ul>