<% content_for :title do %>
  <h1 class="title">Messages</h1>
<% end %>

<% if @chatrooms %>
  <ul class="chatrooms">
    <% @chatrooms.each do |chatroom| %>
      <li>
        <%= link_to chatroom_path(current_user.common_chatroom_id_with(chatroom.other_user(current_user))), class: "container" do %>
          <% if chatroom.other_user(current_user).avatar.attached? %>
            <%= image_tag chatroom.other_user(current_user).avatar, alt: 'Photo de profil', class: "avatar" %>
          <% else %>
            <div class="avatar-placeholder">
              <i class="bi bi-person-circle"></i>
            </div>
          <% end %>
          <div class="infos">
            <div class="header">
              <h2><%= chatroom.other_user(current_user).first_name %> <%= chatroom.other_user(current_user).last_name %></h2>
              <small><%= chatroom.messages.last.created_at.strftime('%m/%d/%Y %I:%M %p') %></small>
            </div>
            <small><%= chatroom.messages.last.content %></small>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="container container-m">
    <div class="alert alert-filter" role="alert">
      <p><i class="bi bi-info-circle-fill"></i>Vous n'avez pas de messages.</p>
    </div>
  </div>
<% end %>
