<% content_for :back_button do %>
  <%= link_to '', chatrooms_path, class: "icon icon-left-nav pull-left" %>
<% end %>

<% content_for :title do %>
  <h1 class="title"><%= @other_user.first_name %> <%= @other_user.last_name %></h1>
<% end %>

<div class="messages content-padded margin-bottom-xl">
  <% @messages.each do |message| %>
    <% if message.sender == current_user %>
      <div class="card card-right">
        <p><%= message.content %></p>
        <small><%= message.created_at.strftime('%m/%d/%Y %I:%M %p') %></small>
      </div>
    <% else %>
      <div class="card card-left">
        <p><%= message.content %></p>
        <small><%= message.created_at.strftime('%m/%d/%Y %I:%M %p') %></small>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "messages/forms/send" %>