<% content_for :back_button do %>
  <%= link_to '', invitations_path, class: "icon icon-left-nav pull-left" %>
<% end %>

<% content_for :title do %>
  <h1 class="title"><%= @other_user.first_name %> <%= @other_user.last_name %></h1>
<% end %>

<div class="content-padded margin-bottom-xl">
  <% @posts.each do |post| %>
    <% if post.sender == current_user %>
      <div class="card card-right">
        <% if post.is_a?(Invitation) %>
          <h2>Invitation</h2>
        <% end %>
        <p><%= post.content %></p>
        <small><%= post.created_at.strftime('%m/%d/%Y %I:%M %p') %></small>
      </div>
    <% else %>
      <div class="card card-left">
        <% if post.is_a?(Invitation) %>
          <h2>Invitation</h2>
        <% end %>
        <p><%= post.content %></p>
        <small><%= post.created_at.strftime('%m/%d/%Y %I:%M %p') %></small>
      </div>
    <% end %>
  <% end %>
</div>

<%= render @send_message ? "chatrooms/forms/send_message" : "chatrooms/forms/send_invit" %>
