<div id="<%= dom_id user %>">
  <div >
    <h3><%= user.first_name %> <%= user.last_name %></h3>

    <p><%= user.description %></p>

    <p><strong>Niveau:</strong> <%= user.experience %> </p>
    <p><%= user.gender  unless user.gender == 'autre' %>  <%= user.age %> ans.</p>
    <p> </p>
    <p><strong>Disponibilité:</strong> 
      <table>
  <thead>
    <tr>
      <th></th>
      <th>Semaine</th>
      <th>Weekend</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Journée</strong></td>
      <td><%= user.week_day ? "Disponible" : "Occupé" %></td>
      <td><%= user.weekend_day ? "Disponible" : "Occupé" %></td>
    </tr>
    <tr>
      <td><strong>Soirée</strong></td>
      <td><%= user.week_night ? "Disponible" : "Occupé" %></td>
      <td><%= user.weekend_night ? "Disponible" : "Occupé" %></td>
    </tr>
  </tbody>
</table>

    </p>
  </div>
</div>
