<h1> Resultat de la recherche </h1>
<p><%= link_to 'Faire une autre recherche', users_search_path %> </p>
<% if @partners.empty? %>
  <p> Aucun joueur ne correspond à vos critères pour le moment :( </p>
<% else %>
  <% @partners.each do |partner| %>
  <br>
  <div >
    <h3><%= partner.first_name %> <%= partner.last_name %></h3>

    <p><%= partner.description %></p>

    <p><strong>Niveau:</strong> <%= partner.experience %> </p>
    <p><%= partner.gender unless partner.gender == 'autre' %>  <%= partner.age %> ans.</p>
    
    <p><strong>Disponibilité:</strong> 
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Semaine</th>
            <th>Weekend</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Journée</strong></td>
            <td><%= partner.week_day ? "Disponible" : "Occupé" %></td>
            <td><%= partner.weekend_day ? "Disponible" : "Occupé" %></td>
          </tr>
          <tr>
            <td><strong>Soirée</strong></td>
            <td><%= partner.week_night ? "Disponible" : "Occupé" %></td>
            <td><%= partner.weekend_night ? "Disponible" : "Occupé" %></td>
          </tr>
        </tbody>  
      </table>
    </p>
  </div>
  <%= link_to "Voir son profil", user_path(partner.id) %>
  <% end %>
<% end %>