<% content_for :back_button do %>
  <%= link_to '', parameters_path, class: "icon icon-left-nav pull-left" %>
<% end %>

<% content_for :title do %>
  <h1 class="title">Mes paramètres de joueur</h1>
<% end %>

<div class="content-padded-with-footer">

  <div class="card text-centered">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, alt: 'Photo de profil', class: "avatar-m" %>
    <% else %>
      <div class="avatar-placeholder-m">
        <span class="material-icons-round">person</span>
      </div>
    <% end %>

    <h2 class="margin-bottom-s">Changer d'avatar ?</h2>
    <%= form_tag user_avatars_path(@user), multipart: true do %>
      <%= file_field_tag :avatar, class: "btn margin-bottom-s" %>
      <%= submit_tag "mettre à jour", class: "btn margin-bottom-s" %>
    <% end %>
  </div>

  <%= form_with model: @user, local: true, :id => "edit_user" do |form| %>
    <div class="form-group">
      <%= form.label :prénom %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :nom %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :date_de_naissance %>
      <%= form.date_field :date_of_birth, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :genre %>
      <%= form.select :gender, User.genders.keys, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :Niveau_de_jeu %>
      <%= form.select :experience, User.experiences.keys, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control", placeholder: "Que tu préfères le dur ou la terre battue, que tu doives jongler avec la saison de ski ou avec les emplois du temps de tes enfants, partage ces informations par ici !" %>
    </div>

    <fieldset>
      <legend>Disponibilités</legend>
      <div>
        <%= form.check_box :week_day %>
        <label>La semaine, en journée</label>
      </div>
      <div>
        <%= form.check_box :week_night %>
        <label>La semaine, en soirée</label>
      </div>
      <div>
        <%= form.check_box :weekend_day %>
        <label>Le week-end, en journée</label>
      </div>
      <div>
        <%= form.check_box :weekend_night %>
        <label>Le week-end, en soirée</label>
      </div>
    </fieldset>

    <div class="form-group">
      <%= form.label :"Je_joue_seulement_à_l'extérieur : " %>
      <%= form.check_box :outside %>
    </div>
  <% end %>
</div>

<div class="bar bar-standard bar-footer-secondary">
  <%= button_tag type: :submit, :form => "edit_user", class: "btn btn-primary btn-block" do %>
    <span class="icon icon-check"></span>
    Enregistrer les modifications
  <% end %>
</div>
