<% content_for :back_button do %>
  <%= link_to '', users_search_path, class: "icon icon-left-nav pull-left" %>
<% end %>

<% content_for :title do %>
  <h1 class="title">Résultat de la recherche</h1>
<% end %>

<% if @partners.empty? %>
  <p> Aucun joueur ne correspond à vos critères pour le moment :( </p>
<% else %>
  <ul class="table-view">
    <% @partners.each do |partner| %>
      <li class="table-view-cell media">
        <%= link_to user_path(partner.id), class: "navigate-right" do %>
          <!-- img class="media-object pull-left" src="http://placehold.it/42x42" -->
          <div class="media-body">
            <%= partner.first_name %> <%= partner.last_name %>
            <p><%= partner.experience %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
