<% content_for :title do %>
  <h1 class="title">Membres du club</h1>
<% end %>

<div class="stack-buttons">
  <%= link_to users_search_path, class: "btn btn-outline-primary" do %>
    <i class="bi bi-filter"></i>
    Filtrer les membres
  <% end %>
  <%= search_form_for @q, remote: true, class: "input-search" do |f| %>
    <%= f.search_field :first_name_or_last_name_i_cont, placeholder: "Recherche par nom", class: "form-control" %>
    <%= f.button type: :submit, class: "btn btn-outline-primary" do %>
      <i class="bi bi-search"></i>
    <% end %>
  <% end %>
</div>

<ul class="users">
  <% @partners.each do |partner| %>
    <%= render "list_item", partner: partner %>
  <% end %>
</ul>
