<% content_for :title do %>
  <h1 class="title">Membres du club</h1>
<% end %>

<div class="stack-buttons">
  <%= link_to users_search_path, class: "btn btn-outline-primary" do %>
    <i class="bi bi-filter"></i>
    Filtrer les membres
  <% end %>
  <%= search_form_for @q, remote: true, class: "input-search" do |f| %>
    <%= f.search_field :first_name_or_last_name_i_cont, placeholder: "Recherche par nom", class: "form-control" %>
    <%= f.button type: :submit, class: "btn btn-outline-primary" do %>
      <i class="bi bi-search"></i>
    <% end %>
  <% end %>
  <%# button_to '', class: "btn search-input" do %>
    <%# <input type="text" placeholder="Search..">
    <button type="submit"><i class="fa fa-search"></i></button> %>
    <%# <i class="bi bi-search"></i>
    Rechercher un membre %>
  <%# end %>
</div>

<ul class="users">
  <% @partners.each do |partner| %>
    <li>
      <%= link_to user_path(partner.id), class: "container" do %>
        <% if partner.avatar.attached? %>
          <%= image_tag partner.avatar, alt: 'Photo de profil', class: "avatar" %>
        <% else %>
          <div class="avatar-placeholder">
            <i class="bi bi-person-circle"></i>
          </div>
        <% end %>
        
        <div class="infos">
          <div class="header">
            <h2><%= partner.first_name %> <%= partner.last_name %></h2>
          </div>
          <small><%= "#{partner.experience}" if partner.experience -%><%= ", " if partner.age && partner.experience -%><%= "#{partner.age} ans" if partner.age %></small>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
