<% content_for :title do %>
  <h1 class="title">Rechercher des joueurs</h1>
<% end %>

<div class="content-padded-with-footer">
  <%= form_tag users_selection_path, method: :get, :id => "search" do %>
    <div class="card margin-bottom-m">
      <div class="card-header">
        <h2 class="card-title">Genre</h3>
      </div>
      <div class="card-content">
        <%= radio_button_tag(:gender, "Femme") %>
        <%= label_tag(:gender_woman, "Femme") %>
        <%= radio_button_tag(:gender, "Homme") %>
        <%= label_tag(:gender_man, "Homme") %>
        <%= radio_button_tag(:gender, "Peu importe") %>
        <%= label_tag(:gender_whatever, "Peu importe") %>
      </div>
    </div>

    <div class="card margin-bottom-m">
      <div class="card-header">
        <h2 class="card-title">Disponibilité</h3>
      </div>
      <div class="card-content">
        <%= check_box_tag(:week_day) %>
        <%= label_tag(:week_day, "La semaine, en journée") %><br>
        <%= check_box_tag(:week_evening) %>
        <%= label_tag(:week_evening, "La semaine, en soirée") %><br>
        <%= check_box_tag(:wend_day) %>
        <%= label_tag(:wend_day, "Le week-end, en journée") %><br>
        <%= check_box_tag(:wend_evening) %>
        <%= label_tag(:wend_evening, "Le week-end, en soirée") %><br>
      </div>
    </div>

    <div class="card margin-bottom-m">
      <div class="card-header">
        <h2 class="card-title">Préférence de terrain</h3>
      </div>
      <div class="card-content">
        <%= check_box_tag(:inside) %>
        <%= label_tag(:inside, "Je veux jouer en indoor") %><br>
      </div>
    </div>
  <% end %>
</div>

<div class="bar bar-standard bar-footer-secondary">
  <%= submit_tag "Rechercher", class: "btn btn-primary btn-block", :form => "search" %>
</div>
