<% content_for :back_button do %>
  <%= link_to root_path, class: "btn-back" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
<% end %>

<% content_for :title do %>
  <h1 class="title">Filtres de recherche</h1>
<% end %>

<div class="container-xl">
  <%= form_tag users_selection_path, method: :get, class: "stack", :id => "search" do %>
    <h2>Genre</h2>
    <div>
      <div class="form-check">
        <%= radio_button_tag :gender, "Femme", false, class: "form-check-input", role: "switch" %>
        <%= label_tag :gender_woman, "Femme", class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%= radio_button_tag :gender, "Homme", false, class: "form-check-input", role: "switch" %>
        <%= label_tag :gender_man, "Homme", class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%= radio_button_tag :gender, "Peu importe", false, class: "form-check-input", role: "switch" %>
        <%= label_tag :gender_whatever, "Peu importe", class: "form-check-label" %>
      </div>
    </div>
    <hr>
    <h2>Disponibilité</h2>
    <div>
      <div class="form-check form-switch">
        <%= check_box_tag :week_day, "1", false, class: "form-check-input", role: "switch" %>
        <%= label_tag :week_day, "La semaine, en journée", class: "form-check-label" %>
      </div>
      <div class="form-check form-switch">
        <%= check_box_tag :week_night, "1", false, class: "form-check-input", role: "switch" %>
        <%= label_tag :week_night, "La semaine, en soirée", class: "form-check-label" %>
      </div>
      <div class="form-check form-switch">
        <%= check_box_tag :weekend_day, "1", false, class: "form-check-input", role: "switch" %>
        <%= label_tag :weekend_day, "Le week-end, en journée", class: "form-check-label" %>
      </div>
      <div class="form-check form-switch">
        <%= check_box_tag :weekend_night, "1", false, class: "form-check-input", role: "switch" %>
        <%= label_tag :weekend_night, "Le week-end, en soirée", class: "form-check-label" %>
      </div>
    </div>
    <hr>
    <h2>Préférence de terrain</h2>
    <div>
      <div class="form-check form-switch">
        <%= check_box_tag :inside, "1", false, class: "form-check-input", role: "switch" %>
        <%= label_tag :inside, "Je veux jouer en indoor", class: "form-check-label" %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :actions do %>
  <%= button_tag type: :submit, :form => "search", class: "btn btn-primary" do %>
    <i class="bi bi-check-lg"></i>
    Appliquer les filtres
  <% end %>
<% end %>
