<% content_for :back_button do %>
  <%= link_to root_path, class: "btn-back" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
<% end %>

<% content_for :title do %>
  <h1 class="title">Filtres de recherche</h1>
<% end %>

<div class="container-xl">
  <%= form_with(url: users_selection_path, method: :get, class: "stack", :id => "search") do |f| %>
    <h2>Genre</h2>
    <div>
      <div class="form-check">
        <%= f.radio_button :gender, "Femme", { :class => "form-check-input", :role => "switch" } %>
        <%= f.label :gender_woman, "Femme", class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%=  f.radio_button :gender, "Homme", { :class => "form-check-input", :role => "switch" } %>
        <%= f.label :gender_man, "Homme", class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%=  f.radio_button :gender, "Peu importe", { :class => "form-check-input", :role => "switch" } %>
        <%= f.label :gender_whatever, "Peu importe", class: "form-check-label" %>
      </div>
    </div>
    <hr>
    <h2>Disponibilité</h2>
    <div>
      <div class="form-check form-switch">
      
        <%= f.check_box :week_day, class: "form-check-input", role: "switch" %>
        <%= f.label :week_day, "La semaine, en journée", class: "form-check-label" %>
      </div>
      <div class="form-check form-switch">
        <%= f.check_box :week_night, class: "form-check-input", role: "switch" %>
        <%= f.label :week_night, "La semaine, en soirée", class: "form-check-label" %>
      </div>
      <div class="form-check form-switch">
        <%= f.check_box :weekend_day, class: "form-check-input", role: "switch" %>
        <%= f.label :weekend_day, "Le week-end, en journée", class: "form-check-label" %>
      </div>
      <div class="form-check form-switch">
        <%= f.check_box :weekend_night, class: "form-check-input", role: "switch" %>
        <%= f.label :weekend_night, "Le week-end, en soirée", class: "form-check-label" %>
      </div>
    </div>
    <hr>
    <h2>Préférence de terrain</h2>
    <div>
      <div class="form-check form-switch">
        <%= f.check_box :inside, class: "form-check-input", role: "switch" %>
        <%= f.label :inside, "Je veux jouer en indoor", class: "form-check-label" %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :actions do %>
  <%= button_tag type: :submit, :name => "commit", :form => "search", class: "btn btn-primary" do %>
    <i class="bi bi-search"></i>
    Appliquer les filtres
  <% end %>
<% end %>
