<% content_for :back_button do %>
  <%= link_to new_user_password_path, class: "btn-back" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
<% end %>

<% content_for :title do %>
  <h1 class="title">Nouveau mot de passe</h1>
<% end %>

<div class="container-xl">
  <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "stack" } do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <div>
      <%= f.label :email, "Votre email", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    <div>
      <%= f.label :password, class: "form-label" do %>
        <% raw("Nouveau mot de passe<br><small>(#{@minimum_password_length} caractères minimum)</small>") %>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div>
      <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe", class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
  <% end %>
</div>

<% content_for :actions do %>
  <%= button_tag type: :submit, :name => "commit", :form => "new_user", class: "btn btn-primary" do %>
    <i class="bi bi-check-lg"></i>
    Enregistrer le nouveau mot de passe
  <% end %>
<% end %>
