<% content_for :title do %>
  <h1 class="title">Mes invitations</h1>
<% end %>

<ul class="table-view">
  <% @invitations.each do |invit| %>
    <% if invit.sender == current_user %>
      <li class="table-view-cell">
        <p>
          <small>Envoyée le <%= invit.created_at.strftime('%m/%d/%Y %I:%M %p') %> à :</small><br>
          <%= link_to user_path(invit.receiver.id), class: "btn margin-bottom-s" do %>
            <span class="icon icon-person"></span>
            <%= invit.receiver.first_name %> <%= invit.receiver.last_name %><br>
          <% end %>
          <%= link_to 'Ouvrir le chat', chatroom_path(current_user.common_chatroom_id_with(invit.receiver)), class: "btn btn-outlined" %>
        </p>
      </li>
    <% else %>
      <li class="table-view-cell">
        <p>
          <small>Reçue le <%= invit.created_at.strftime('%m/%d/%Y %I:%M %p') %> de :</small><br>
          <%= link_to user_path(invit.sender.id), class: "btn margin-bottom-s" do %>
            <span class="icon icon-person"></span>
            <%= invit.sender.first_name %> <%= invit.sender.last_name %><br>
          <% end %>
          <%= link_to 'Ouvrir le chat', chatroom_path(current_user.common_chatroom_id_with(invit.sender)), class: "btn btn-outlined" %>
        </p>
      </li>
    <% end %>
  <% end %>
</ul>
