<div class="bar bar-standard bar-footer-secondary message">
  <%= form_with model: [@chatroom, @chatroom.invitations.build], local: true do |form| %>
    <%= form.label :content, "Invitation" %>
    <%= form.text_area :content, rows: 4 %>
    <div class="bar bar-standard">
      <%= link_to "Écrire un message simple", chatroom_path(@chatroom, send_message: true), class: "btn pull-left" %>
      <%= form.submit "Envoyer l'invitation", class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>
