<% content_for :title do %>
  <h1 class="title">Connexion</h1>
<% end %>

<div class="content-padded-with-footer">
  <p>Veuillez vous connecter pour accéder aux fonctionnalités de l'app.</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.label :email, "Votre email" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.label :password, "Votre mot de passe" %>
    <%= f.password_field :password, autocomplete: "current-password" %>

    <% if devise_mapping.rememberable? %>
    <fieldset class="margin-bottom-m">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Se souvenir de moi" %>
    </fieldset>
    <% end %>

    <%= f.submit "Se connecter", class: "btn btn-primary btn-block" %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %>
  <% end %>

</div>
