<% content_for :back_button do %>
  <%= link_to welcome_path, class: "btn-back" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
<% end %>

<% content_for :title do %>
  <h1 class="title">Connexion</h1>
<% end %>

<div class="container container-m">
  <div class="alert alert-filter" role="alert">
    <p><i class="bi bi-info-circle-fill"></i>Veuillez vous connecter pour accéder aux fonctionnalités de l'app.</p>
  </div>
</div>

<div class="container-xl">
  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "stack" } do |f| %>
    <div>
      <%= f.label :email, "Votre email", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    <div>
      <%= f.label :password, "Votre mot de passe", class: "form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <div>
      <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Se souvenir de moi" %>
      <% end %>
    </div>
    <div>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %>
      <% end %>
    </div>
  <% end %>
</div>

<% content_for :actions do %>
  <%= button_tag type: :submit, :form => "new_user", class: "btn btn-primary" do %>
    <span class="icon icon-check"></span>
    Se connecter
  <% end %>
<% end %>
